@model IEnumerable<TeamListingViewModel>

@{
    ViewData["Title"] = "Teams";
}

<div class="row">
    @foreach (var team in Model)
    {       
        <div class="col-md-3">
            <div class="card mb-2">
                <img class="card-img-top" src="@team.Logo" alt="@team.Name">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@team.Name</h5>
                    <a asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>